In [1]:
ohgiraffers = ['pig', 'bear', 'gorilla', 'squirrel']

for teacher in ohgiraffers:
    print(teacher, len(teacher))

pig 3
bear 4
gorilla 7
squirrel 8

In [1]:
for word in "panda":
    print(word)

p
a
n
d
a

In [8]:
#  for x, y in {'bear': '곰', 'tiger': '호랑이', 'monkey' : '원숭이'}.items():
#      print(x, y)

for x, y in {'bear': '곰', 'tiger': '호랑이', 'monkey' : '원숭이'}.items() :
    print(x, y)

bear 곰
tiger 호랑이
monkey 원숭이

In [10]:
for [x, y] in [[1,2], [3,4], [5,6]]:
    print(x, y)

    [1,2]

1 2
3 4
5 6

In [12]:
a = 'abcde'
b = [val+"k" for val in a]
print(b)

['ak', 'bk', 'ck', 'dk', 'ek']

In [ ]:
class Dog:

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(2, 9, 3 ):
    print(i)

2
5
8

In [15]:
for i in range(9, 1, -3):
    print(i)

9
6
3

In [ ]:
introduce = ['i', 'am', 'a', 'capybara']

for idx in range(len(introduce)):
    print(idx, introduce[idx])

0 i
1 am
2 a
3 capybara

In [18]:
range(0, 10)

range(0, 10)

In [19]:
print(sum(range(4)))

6

In [ ]:
lst = []

for n in range(1, 11):
    lst.append(n ** 2)
    
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
#리스트 내포
lst = [n ** 2 for n in range(1, 11)]
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
lst = [n**2 for n in range(1, 11) if n % 2 == 0]
print(lst)

[4, 16, 36, 64, 100]

In [25]:
i = 1

while i <= 10:
    print(i)
    i += 1
    # i = i + 1

1
2
3
4
5
6
7
8
9
10

## **문제 1: 손님 응대하기**

**"다람쥐는 카페에서 아르바이트를 시작했다."**

다람쥐는 손님들에게 인사를 해야 합니다.

1. 손님 리스트 `customers`에 다음과 같은 손님들이 있습니다.
    - `'토끼', '곰', '여우', '호랑이'`
2. `for`문을 사용하여 **각 손님에게 다음과 같은 메시지를 출력하세요**:
    - **"안녕하세요, [손님 이름]님! 무엇을 도와드릴까요?"**

In [38]:
cutomers = ['토끼', '곰', '여우', '호랑이']
for customer in cutomers:
    print(f"안녕하세요, {customer}님! 무엇을 도와드릴까요?")

안녕하세요, 토끼님! 무엇을 도와드릴까요?
안녕하세요, 곰님! 무엇을 도와드릴까요?
안녕하세요, 여우님! 무엇을 도와드릴까요?
안녕하세요, 호랑이님! 무엇을 도와드릴까요?

## **문제 2: 메뉴 준비하기**

**"다람쥐는 주문받은 음료를 준비해야 한다."**

다람쥐는 손님들이 주문한 음료를 준비합니다.

1. 주문 리스트 `orders`에 다음 음료가 있습니다.
    - `'아메리카노', '카페라떼', '핫초코'`
2. `for`문을 사용하여 **각 음료를 준비하는 메시지를 출력하세요**:
    - **"[음료 이름]를 준비 중입니다..."**

In [39]:
orders =  ['아메리카노', '카페라테', '핫초코']
for drink in orders:
    print(f"{drink}를 준비 중입니다...")

아메리카노를 준비 중입니다...
카페라테를 준비 중입니다...
핫초코를 준비 중입니다...

## **문제 3: 청소하기**

**"일이 끝난 후, 다람쥐는 테이블을 청소해야 한다."**

다람쥐는 카페의 테이블을 하나씩 청소합니다.

1. 테이블 리스트 `tables`에 숫자 `1`부터 `5`까지의 테이블 번호가 있습니다.
2. `for`문을 사용하여 **각 테이블을 청소하는 메시지를 출력하세요.**
    - **"[n번 테이블] 청소 완료!"**

In [41]:
for i in range(1,6):
    print(f"[{i}번 테이블] 청소 완료!")

[1번 테이블] 청소 완료!
[2번 테이블] 청소 완료!
[3번 테이블] 청소 완료!
[4번 테이블] 청소 완료!
[5번 테이블] 청소 완료!

## **문제 4: 시간 기록하기**

**"다람쥐는 출근한 후 시간마다 일을 기록해야 한다."**

다람쥐는 9시부터 12시까지 1시간마다 기록을 남깁니다.

1. `for-range`를 사용하여 9부터 12까지의 시간을 반복하세요.
2. 각 시간마다 **"현재 시간: [시간]시, 근무 기록합니다."**를 출력하세요.

In [42]:
for time in range(9, 13):
    print(f"현재 시간: {time}시, 근무를 기록합니다.")

현재 시간: 9시, 근무를 기록합니다.
현재 시간: 10시, 근무를 기록합니다.
현재 시간: 11시, 근무를 기록합니다.
현재 시간: 12시, 근무를 기록합니다.

## **문제 5: 손님 수 세기**

**"손님이 계속 들어오고 있습니다."**

다람쥐는 10명의 손님이 들어올 때마다 번호를 세야 합니다.

1. `for-range`를 사용하여 숫자 `1`부터 `10`까지 출력하세요.
2. 각 손님마다 **"손님 [번호]번째 입장!"**을 출력하세요.

In [33]:
for guest in range(1, 11):
    print(f"손님 {guest}번째 입장!")

손님 1번째 입장!
손님 2번째 입장!
손님 3번째 입장!
손님 4번째 입장!
손님 5번째 입장!
손님 6번째 입장!
손님 7번째 입장!
손님 8번째 입장!
손님 9번째 입장!
손님 10번째 입장!

## **문제 6: 커피 만들기**

**"주문받은 커피를 몇 잔 만들까?"**

다람쥐는 주문받은 커피의 수량을 만들려고 합니다.

1. `for-range`를 사용해 숫자 `1`부터 `5`까지의 커피 번호를 반복하세요.
2. 각 커피마다 **"[커피 번호]번째 커피를 만들고 있습니다."**를 출력하세요.

In [36]:
for coffee in range(1, 6):
    print(f"{coffee}번째 커피를 만들고 있습니다.")

1번째 커피를 만들고 있습니다.
2번째 커피를 만들고 있습니다.
3번째 커피를 만들고 있습니다.
4번째 커피를 만들고 있습니다.
5번째 커피를 만들고 있습니다.

## **문제 7: 테이블 청소하기**

**"다람쥐는 닫기 전에 테이블을 모두 청소해야 한다."**

다람쥐는 5번 테이블까지 순서대로 청소해야 합니다.

1. `while`문을 사용하여 `1`번부터 `5`번 테이블을 청소하세요.
2. 각 테이블마다 **"[n번 테이블] 청소 완료!"**를 출력하세요.

## **문제 8: 손님이 그만 올 때까지 기다리기**

**"손님이 그만 올 때까지 카운터에서 기다리는 다람쥐."**

다람쥐는 손님이 그만 올 때까지 카운터를 지켜야 합니다.

1. 변수 `customers`에 초기값 `5`를 설정하세요.
2. `while`문을 사용해 손님이 줄어들 때마다 `customers`를 1씩 감소시키세요.
3. 손님이 0이 될 때까지 **"남은 손님 수: [customers]명"**을 출력하세요.
4. 손님이 모두 떠나면 **"오늘의 영업이 끝났습니다!"**를 출력하세요.

In [50]:
cutomers = 5
while customers >= 0:
    print(f"남은 손님 수: {cutomers}명")
customers -= 1

print("오늘 영업이 끝났습니다.")

NameError: name 'customers' is not defined

## **문제 9: 알바비 계산하기**

**"다람쥐는 일한 시간만큼 알바비를 계산합니다."**

다람쥐의 시급은 **1시간에 1000원**입니다.

1. 변수 `work_hours`에 일한 시간(정수)을 입력받으세요.
2. `while`문을 사용해 일한 시간만큼 반복하며 `pay`에 시급을 더하세요.
3. 최종 알바비를 **"오늘의 알바비는 [pay]원입니다."**로 출력하세요.

In [52]:
work_out = int(input("일한 시간(정수)"))

pay = 0

while work_out < 0:
    pay += 1000
    work_out -= 1

print(f"오늘의 알바비는 {pay}원 입니다.")

오늘의 알바비는 0원 입니다.