In [ ]:
print(123)

123

In [4]:
num = "1"
print(num)

1

In [7]:
team_name = "ohgiraffers"
my_team = team_name

team_name = "giraffers_united"

print("team_name", team_name)
print("my_team", my_team)

team_name giraffers_united
my_team ohgiraffers

In [8]:
x = 6
y = x
x = 10

print(x)
print(y)

10
6

In [9]:
team_name = "Friends"
print(team_name)

name_team = "Friends fighting!"
print(name_team)

# 카멜케이스 : teamName(자바와 자바스크립트)

Friends
Friends fighting!

In [3]:
우리팀 = "skn 23기"
print(우리팀)

skn 23기

In [5]:
team_1_name = "skn 23기"
team_1_name

'skn 23기'

In [6]:
1_team_name = "skn 23기"

SyntaxError: invalid decimal literal (1239174180.py, line 1)

In [7]:
20240101 = "skn-23"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2633076919.py, line 1)

In [8]:
team_@_name = "오지라퍼스"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3256221661.py, line 1)

In [10]:
else = "오지라퍼스"

SyntaxError: invalid syntax (3123944627.py, line 1)

변수의 이름으로써 사용 불가능한 것들 확인

In [11]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [14]:
10

10

In [15]:



print(_)
print(_* 3)

10
30

In [16]:
x, _, z = (1, 2, 3)
print(x)
print(z)

1
3

In [17]:
x, *_, y = (1, 2, 3, 4, 5)
print(x)
print(y)

1
5

In [18]:
for _ in range(3):
    print("hello")

hello
hello
hello

In [19]:
_internal_name = 'one_module'
_internal_version = "1.0"

In [20]:
million = 1_000_000
print(million)

1000000

In [21]:
for_ = 'for blah'
print(for_)

for blah

_ : 내부용(private) 또는 값 무시
__ : 이름 숨김
_xx_ : 매직 메서드(파이썬에서 자동으로 호출)

다음 문자열에서 모든 날짜 형식을 바꿔보세요.

text = "오늘은 2025-11-25이고, 내일은 2025-11-26입니다."


목표: "-"를 "/"로 바꿔서

오늘은 2025/11/25이고, 내일은 2025/11/26입니다.


와 같이 출력되게 만드세요.

replace() 메소드를 사용하세요.

In [ ]:
team_name = "닌자"
print(team_name)    # 닌자

Team_name = "파워레인져"
print(team_name)    # 닌자
print(Team_name)    # Ninja

In [ ]:
우리팀 = "닌자"

In [ ]:
10

In [ ]:
print(_)        # 10
print(_ * 3)    # 30``

변수 이름은 스네이크 케이스를 따릅니다. (스네이크 케이스(소문자+언더바))
first_name에 당신의 이름의 첫 글자를 문자열로 저장하세요.
last_name에 당신의 성을 문자열로 저장하세요.
full_name 변수에 first_name과 last_name을 이어붙여서 저장하세요.
print()를 사용해 full_name을 출력해보세요.

In [1]:
first_name = "gil-dong"
last_name = "hong"
full_name = first_name + last_name

print(last_name, first_name)

hong gil-dong

In [2]:
num1 = 1
num2 = 1

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

2
0
1
1.0

In [ ]:
fruits = ['orange', 'apple','pear','banana','kiwi', 'apple']

print(fruits)
print(fruits[0])

In [ ]:
from collections import deque

dq = deque()

dq.append("a")
dq.append("b")
dq.append("c")

print(dq)    # deque(['a', 'b', 'c'])