리스트는 대괄호다!

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple'] 

(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']

In [5]:
fruits[1]

'apple'

In [6]:
rainbow_split = '빨-주-노-초-파-남-보'

print(rainbow_split.split('-'))

['빨', '주', '노', '초', '파', '남', '보']

In [7]:
list1 = []
list2 = list()

print(list1 == list2)
print(type(list1))
print(type(list2))

True
<class 'list'>
<class 'list'>

In [8]:
list3 = list('hello')
print(list3)

['h', 'e', 'l', 'l', 'o']

In [1]:
safari_list = ["Bear", "Koara", "Gorilla", "Squirrel"]
another_safari_list = ["Monkey", "Tiger", "Wolf"]

print(safari_list + another_safari_list)

['Bear', 'Koara', 'Gorilla', 'Squirrel', 'Monkey', 'Tiger', 'Wolf']

In [2]:
safari_list = ["Bear", "Koara", "Gorilla", "Squirrel"]

print(safari_list * 4)    # ['Bear', 'Koara', 'Gorilla', 'Squirrel', 'Bear', 'Koara', 'Gorilla', 'Squirrel', 'Bear', 'Koara', 'Gorilla', 'Squirrel', 'Bear', 'Koara', 'Gorilla', 'Squirrel']

['Bear', 'Koara', 'Gorilla', 'Squirrel', 'Bear', 'Koara', 'Gorilla', 'Squirrel', 'Bear', 'Koara', 'Gorilla', 'Squirrel', 'Bear', 'Koara', 'Gorilla', 'Squirrel']

In [3]:
fruits = ['orange', 'apple','pear','banana','kiwi', 'apple']

In [4]:
print("apple:", fruits.count('apple'))

apple: 2

In [5]:
print("test:", fruits.count("test"))

test: 0

In [6]:
print("index:", fruits.index("apple"))

index: 1

In [8]:
print("index:", fruits.index("apple", 3))

index: 4

In [7]:

fruits.reverse()
print(fruits)    # ['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [9]:
fruits.append("pineapple")
print(fruits)    # ['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple']

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple']

In [10]:
fruits.extend(['rainbow friut', 'sweet lemon', 'happy apple'])
print(fruits)    # ['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple', 'rainbow friut', 'sweet lemon', 'happy apple']

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple', 'rainbow friut', 'sweet lemon', 'happy apple']

In [11]:
fruits.insert(0, 'monkey banana')
print(fruits)    # ['monkey banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple', 'rainbow friut', 'sweet lemon', 'happy apple']

['monkey banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple', 'rainbow friut', 'sweet lemon', 'happy apple']

In [12]:
fruits.sort()
print(fruits)    # ['apple', 'apple', 'banana', 'happy apple', 'kiwi', 'monkey banana', 'orange', 'pear', 'pineapple', 'rainbow friut', 'sweet lemon']

['apple', 'apple', 'banana', 'happy apple', 'kiwi', 'monkey banana', 'orange', 'pear', 'pineapple', 'rainbow friut', 'sweet lemon']

In [13]:
# 내림차순 정렬
fruits.sort(reverse=True)
print(fruits)    # ['sweet lemon', 'rainbow friut', 'pineapple', 'pear', 'orange', 'monkey banana', 'kiwi', 'happy apple', 'banana', 'apple', 'apple']

['sweet lemon', 'rainbow friut', 'pineapple', 'pear', 'orange', 'monkey banana', 'kiwi', 'happy apple', 'banana', 'apple', 'apple']

In [14]:
# 문자열 길이가 짧은 순으로 정렬

fruits.sort(key=len)
print(fruits)    # ['pear', 'kiwi', 'apple', 'apple', 'orange', 'banana', 'pineapple', 'sweet lemon', 'happy apple', 'rainbow friut', 'monkey banana']

['pear', 'kiwi', 'apple', 'apple', 'orange', 'banana', 'pineapple', 'sweet lemon', 'happy apple', 'rainbow friut', 'monkey banana']

In [16]:
fruits.sort(key=lambda x:(len(x), x))
print(fruits)

['kiwi', 'pear', 'apple', 'apple', 'banana', 'orange', 'pineapple', 'happy apple', 'sweet lemon', 'monkey banana', 'rainbow friut']

In [17]:
temp = fruits.remove('kiwi')
print(temp)
print(fruits)

None
['pear', 'apple', 'apple', 'banana', 'orange', 'pineapple', 'happy apple', 'sweet lemon', 'monkey banana', 'rainbow friut']

In [18]:
lst = [2, 3, 5, 1, 4]
lst2 = sorted(lst)

print(lst)
print(lst2)

[2, 3, 5, 1, 4]
[1, 2, 3, 4, 5]

In [19]:
temp = fruits.pop()
print(temp)
print(fruits)

rainbow friut
['pear', 'apple', 'apple', 'banana', 'orange', 'pineapple', 'happy apple', 'sweet lemon', 'monkey banana']

In [20]:
plates = ['plate1', 'plate2']

plates.append('plate3')
plates.append('plate4')

print(plates)

['plate1', 'plate2', 'plate3', 'plate4']

In [21]:
print(plates.pop())
print(plates)
print(plates.pop())
print(plates.pop())
print(plates)

plate4
['plate1', 'plate2', 'plate3']
plate3
plate2
['plate1']

In [22]:
abclist = ['A', 'B', 'C', 'D', 'E', 'F']
print(abclist)

['A', 'B', 'C', 'D', 'E', 'F']

In [24]:
del abclist[0]
print(abclist)

['B', 'C', 'D', 'E', 'F']

In [25]:
del abclist[1:3] #[시작:끝-1] 중요
print(abclist)

['B', 'E', 'F']

In [26]:
del abclist[:] #시작 전부터 끝까지
print(abclist)

[]

In [27]:
del abclist
print(abclist)

NameError: name 'abclist' is not defined

In [28]:
from collections import deque

dq = deque()

dq.append("a")
dq.append("b")
dq.append("c")

print(dq)

deque(['a', 'b', 'c'])

In [29]:
dq.appendleft('x')
print(dq)

deque(['x', 'a', 'b', 'c'])

In [31]:
value = dq.pop()
print(value)

left_value = dq.popleft()
print(left_value)

print(dq)

b
a
deque([])

In [33]:
tuples = (1, 2, 'hello')
print(tuples)
print(tuples[0])
print(tuples[1])
print(tuples[2])

(1, 2, 'hello')
1
2
hello

In [39]:
tuples = (1, 2, 'hello'), ('test', 1, 2, 3, 4)
print(tuples)
print(tuples[0])
print(tuples[1][0])

((1, 2, 'hello'), ('test', 1, 2, 3, 4))
(1, 2, 'hello')
test

In [40]:
no_wrap_turples = 1, 2, 3
print(no_wrap_turples)

(1, 2, 3)

In [42]:
testlist = (1,2,3,4,)
print(id(testlist))

testlist = (3, 4, 5)
print(id(testlist))

2687889758928
2687888886256

In [ ]:
safari_tuple = ('Bear', 'Koara', 'Gorilla', 'Squirrel', 'Monkey', 'Tiger', 'Wolf')
another_safari_tuple = ("Monkey", "Tiger", "Wolf")


print(safari_tuple+another_safari_tuple)

('Bear', 'Koara', 'Gorilla', 'Squirrel', 'Monkey', 'Tiger', 'Wolf', 'Monkey', 'Tiger', 'Wolf')

In [44]:
print(safari_tuple * 3)

('Bear', 'Koara', 'Gorilla', 'Squirrel', 'Monkey', 'Tiger', 'Wolf', 'Bear', 'Koara', 'Gorilla', 'Squirrel', 'Monkey', 'Tiger', 'Wolf', 'Bear', 'Koara', 'Gorilla', 'Squirrel', 'Monkey', 'Tiger', 'Wolf')

In [45]:
print(len(another_safari_tuple+safari_tuple))

10

In [46]:
x, y, z = 1,2,3
print(x,y,z)
print(type(x))

1 2 3
<class 'int'>

In [47]:
x,y = y,x
print(x, y)

2 1

In [48]:
x,y,z = y,z,x
print(x, y, z)

1 3 2

In [49]:
name = "ohgiraffers"
print(type(name))

<class 'str'>

In [51]:
address = "대한민국 서울시 서초구"
print(address[5]) # 
print(address[9]) #

서
서

In [52]:
location = ['서울특별시', '부산광역시', '인천광역시', '광주광역시', '울산광역시']
print(location[3])    # 인천광역시

광주광역시

In [53]:
address = '대한민국 서울시 서초구'
print(address[-3])    #음수는 뒤에서 1부터 시작한다.
print(address[-7])

서
서

In [55]:
location = ['서울특별시', '부산광역시', '인천광역시', '광주광역시', '울산광역시']
print(location[-5])

서울특별시

In [58]:
address = '대한민국 서울시 서초구'
print(address[5:8])

서울시

In [59]:
location = ['서울', '부산', '인천', '광주', '울산']
print(location[2:5])
print(location[2:])

['인천', '광주', '울산']
['인천', '광주', '울산']

In [61]:
address = '대한민국 서울시 서초구'
print(address[9:])
print(address[-3:])
print(address[1:12:4])
print(address[::-1])

서초구
서초구
한서서
구초서 시울서 국민한대

In [65]:
location = ['서울', '부산', '인천', '광주', '울산']
print(location[3:])
print(location[-4:])
print(location[1:4:2])
print(location[2::-1])

['광주', '울산']
['부산', '인천', '광주', '울산']
['부산', '광주']
['인천', '부산', '서울']

In [125]:
nation = ('대한민국', '미국', '중국', '일본', '프랑스','대한민국', '미국', '중국', '일본', '프랑스')
print(nation[1:]) #미국 ~ 끝
print(nation[-3:]) #, 중국 ~ 끝
print(nation[2::-1]) # 미국, 일본

print(nation[6::-2]) 
print(nation[::-1]) # 프랑스 ~ 대한민국

('미국', '중국', '일본', '프랑스', '대한민국', '미국', '중국', '일본', '프랑스')
('중국', '일본', '프랑스')
('중국', '미국', '대한민국')
('미국', '프랑스', '중국', '대한민국')
('프랑스', '일본', '중국', '미국', '대한민국', '프랑스', '일본', '중국', '미국', '대한민국')

In [66]:
address = '대한민국 서울시 서초구'
print('대한민국' in address)       # True
print('국민한대' in address)       # False
print('서울시서초구' in address)    # False

True
False
False

In [67]:
location = ['서울특별시', '부산광역시', '인천광역시', '광주광역시', '울산광역시']
print('광주광역시' in location)                   # True
print(['광주광역시', '부산광역시'] in location)    # False
print(['서울특별시', '부산광역시'] in location)    # False

True
False
False

In [78]:
nation = ('대한민국', '미국', '중국', '일본', '프랑스',('대한민국', '미국'))
print('미국' in nation)                 # True
print(('대한민국', '미국') in nation)    # False

True
True

In [79]:
print(nation[1])
print(nation[5][1])

미국
미국

In [ ]:
address = '대한민국 서울시 서초구'
print(len(address)) #12

In [ ]:
location = ['서울', '부산', '인천', '광주', '울산']
print(len(address)) #5

In [ ]:
nation = ('대한민국', '미국', '중국', '일본', '프랑스',('대한민국', '미국'))
print(len(address)) #6

아래 조건에 맞게 리스트를 선언하고 결과를 출력하세요.

1. `fruits`라는 리스트에 다음 요소를 저장하세요.
    `'apple', 'banana', 'cherry'`.
2. `print()`를 사용해 `fruits`의 첫 번째 요소와 세 번째 요소를 출력하세요.

In [94]:
fruits = ['apple', 'banana', 'cherry']
print(fruits[0])
print(fruits[2])

apple
cherry

다음 조건을 만족하는 리스트를 만드세요.

1. `numbers`라는 리스트를 선언하고 숫자 `1`부터 `5`까지 저장하세요.
2. 이 리스트의 **길이**를 출력하세요.

In [95]:
numbers = ['1', '2', '3', '4', '5']
print(len(numbers))

5

다음 조건에 맞게 리스트를 조작하세요.

1. `animals` 리스트에 `'cat', 'dog', 'bird'`를 저장하세요.
2. 이 리스트의 마지막에 `'fish'`를 추가하고, 리스트를 출력하세요.

In [99]:
animals = ['cat', 'dog', 'bird']
animals.append("fish")
print(animals)

['cat', 'dog', 'bird', 'fish']

아래 조건에 맞는 프로그램을 작성하세요.

1. `numbers` 리스트에 숫자 `3, 6, 9`를 저장하세요.
2. 리스트의 첫 번째 요소를 **2배**로 만들어 다시 저장하고, 리스트를 출력하세요.

In [103]:
numbers = [3, 6, 9]

In [102]:
numbers[0] = numbers[0]*2
print(numbers)

[6, 6, 9]

아래 문자열을 리스트로 변환하고 결과를 출력하세요.

1. 문자열 `'Python-is-fun'`을 `'-'`를 기준으로 분리하여 리스트로 만드세요.
2. 결과 리스트를 출력하세요.

In [1]:
rainbow_split = 'Python-is-fun'.split("-")
print(rainbow_split)

['Python', 'is', 'fun']

다음 조건에 맞게 튜플을 선언하고 활용하세요.
1. `my_tuple`이라는 이름으로 숫자 `10, 20, 30`을 가진 튜플을 선언하세요.
2. `my_tuple`의 두 번째 요소를 출력하세요.

In [116]:
my_tuple = 10, 20, 30
print(type(my_tuple))
print(my_tuple[1])

<class 'tuple'>
20

### **문제 7**

아래 조건에 맞게 리스트의 요소를 수정하세요.

1. `colors` 리스트에 `'red', 'blue', 'green'`을 저장하세요.
2. `'blue'`를 `'yellow'`로 변경하고 리스트를 출력하세요.

In [118]:
colors = ['red', 'blue', 'green']
colors[1] = 'yellow'
print(colors)

['red', 'yellow', 'green']

1. 리스트 `numbers`에 숫자 `1, 2, 3, 4, 5`를 저장하세요.
2. 슬라이싱을 이용하여 다음을 수행하세요:
    - 리스트의 **처음 3개의 요소**를 출력하세요.
    - 리스트의 **마지막 2개의 요소**를 출력하세요.
    - 리스트의 **모든 요소를 역순**으로 출력하세요.

In [130]:
numbers = [1, 2, 3, 4, 5]
print(numbers[0:3])
print(numbers[3:5])
print(numbers[::-1])

[1, 2, 3]
[4, 5]
[5, 4, 3, 2, 1]

In [4]:
words = ['life', 'is', 'too', 'short']

result = ' '.join(words)

print(result)

life is too short