In [17]:
def basic_function():
    print("hello world")

    print(" world")

basic_function()

basic_function()

hello world
 world
hello world
 world

In [12]:
basic_function()

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [3]:
def greeting(name, greet):
    print(name, ":", greet)

greeting("신승훈", "안녕하세요~")

신승훈 : 안녕하세요~

In [18]:
def greeting(name, greet="처음 뵙겠습니다!!!"):
    print(name, ":", greet)

greeting("다람쥐","두번째뵙겠습니다")    # 다람쥐 : 처음 뵙겠습니다!!!

다람쥐 : 두번째뵙겠습니다

In [ ]:
def information(name, color, vehicle):
      print(name + '의 최애 색상', color,"a","b",  sep=' - ')

information("신승훈" , "네이비")

신승훈의 최애 색상 - 네이비 - a - b

In [ ]:
# 키워드 인자
information(color='black', name='monkey') # monkey의 최애 색상 : black
information('monkey', color='black')      # monkey의 최애 색상 : black
# information(color='black', 'monkey', 'car')    # 불가능
# information(name='monkey', 'black')     # 불가능

monkey의 최애 색상 - black - a - b
monkey의 최애 색상 - black - a - b

In [23]:
information(color='black', name='신승훈')
information("신승훈", color= "navy")

신승훈의 최애 색상 - black - a - b
신승훈의 최애 색상 - navy - a - b

In [ ]:
def introduce(name):
    sdfgsdgsfdgggf
    sfdsdfgsfddfgdf
    return f"안녕하세요 {name}인사 드립니다."

result = introduce("카피바라")
print(result)

안녕하세요 카피바라인사 드립니다.

In [ ]:
def add(a,b):
    return a+b

result = add(3,5)
print(result)

In [ ]:
def add_many(*args):
    result = 0

    for i in args:
        result = result + i

    return result
    
print(add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

55

In [25]:
def show_info(**kwargs):
    print(kwargs)


show_info(name="신승훈", age=22, lang="python")

{'name': '신승훈', 'age': 22, 'lang': 'python'}

In [ ]:
def sum(a, b, c):
    return a + b + c

numbers = [1, 2, 3]
print(sum(*numbers))
# sum(1, 2, 3)

6

In [ ]:
add = lambda x, y : x + y
print(add(3, 5))

8

In [16]:
def add(x, y):
    return x + y

print(add(4,6))

10

In [28]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(lambda x: x**2, numbers)
print(list(squared_numbers))

[1, 4, 9, 16, 25]

In [30]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))

[2, 4, 6]

In [34]:
points = [(1, 2), (3, 1), (5, -1)]
sorted_points = sorted(points, key=lambda x: x[1])
print(sorted_points)

[(5, -1), (3, 1), (1, 2)]

In [35]:
def f1(b): 
    b = 200

a = 100
f1(a)
print(a)

100

In [4]:
def f2(b):
    b = 'def'

a = 'abc'
f2(a)
print(a)

abc

In [5]:
def f3(t):
    t = (4,5,6)
a = (1,2,3)
f3(a)
print(a)

(1, 2, 3)

In [36]:
def f4(k):
    k[0] = 100

l = [1,2,3]
f4(l)
print(l)

[100, 2, 3]

In [7]:
def f5(d):
    d['a'] = 100

d = {'a':1, 'b':2}
f5(d)
print(d)

{'a': 100, 'b': 2}

## **문제 1: 자기소개 하기**

**"다람쥐는 IT 회사 첫 출근 날, 자기소개를 준비했다."**

1. `*introduce()*`라는 함수를 만들어 **"안녕하세요, 저는 다람쥐 신입사원입니다!"**라는 메시지를 출력하세요.
2. 함수를 호출하여 다람쥐의 자기소개를 출력하세요.

In [38]:
def introduce():
    print("안녕하세요, 저는 다람쥐 신입사원입니다!")

introduce()

안녕하세요, 저는 다람쥐 신입사원입니다!

## **문제 2: 출근 체크하기**

**"다람쥐는 출근할 때 출근부에 이름을 적어야 한다."**

1. `check_in(name)`이라는 함수를 만들어 매개변수 `name`을 입력받아 다음과 같이 출력하세요.
    - **"[이름]님, 출근 체크 완료!"**
2. 함수를 호출해 “카피바라**"**를 출근 체크하세요.

In [41]:
def check_in(name):
    print(f"{name} 님 출근 체크 완료!")
check_in("카피바라")

카피바라 님 출근 체크 완료!

1. `work_hours(start, end)`라는 함수를 만들어 매개변수 `start`(출근 시간)와 `end`(퇴근 시간)를 입력받아 근무 시간을 계산하세요.
    - 근무 시간 = `end - start`
2. 반환된 근무 시간을 출력하세요.
    - 출력 예시: **"오늘 근무한 시간은 [근무 시간]시간입니다."**

In [1]:
def work_hours(start, end):
    return  end - start


start = input('출근 시간은 몇시')
end = input('퇴근 시간은 몇시?')
result = work_hours(start, end)

print(f"오늘 근무한 시간은 {result} 시간입니다")

TypeError: unsupported operand type(s) for -: 'str' and 'str'

1. `recommend_menu(*menus)`라는 함수를 만들어 여러 개의 점심 메뉴를 매개변수로 전달받으세요.
2. 랜덤하게 하나의 메뉴를 선택하고 반환하세요.
    - 출력 예시: **"오늘의 점심 메뉴는 [선택된 메뉴]입니다!"**
    - 힌트: `random.choice()`를 사용하면 랜덤 선택이 가능합니다.

In [2]:
import random

def recommend_menu(*menus):
    choice_menu = random.choice(menus)
    return choice_menu


result = recommend_menu('김밥', '라면', '구내식당', '돈까스')
print(f"오늘의 점심 메뉴는 [{result}]메뉴 입니다!")

오늘의 점심 메뉴는 [돈까스]메뉴 입니다!

1. `coffee_time()`이라는 함수를 만들어 다음과 같은 문자열을 반환하세요.
    - **"오후 3시입니다. 커피 한 잔 하세요!"**
2. 반환된 문자열을 출력하세요.

In [53]:
def coffee_time():
    return "오후 3시입니다. 커피 한 잔 하세요!"

message = coffee_time()
print(message)

오후 3시입니다. 커피 한 잔 하세요!

**다람쥐는 오늘의 업무 성과를 보고해야 한다."**

1. `work_report(tasks_done)`이라는 함수를 만들어 오늘 처리한 업무 수를 매개변수로 받으세요.
2. 함수는 다음 두 값을 반환합니다.
    - `tasks_done`: 처리한 업무 수
    - `status`: 업무 성과 평가 (10개 이상: "우수", 5~9개: "보통", 4개 이하: "노력 필요")
3. 반환된 값을 사용해 다음 메시지를 출력하세요.
    - **"오늘 처리한 업무는 [업무 수]개입니다. 성과 평가: [평가]"**

In [5]:
def work_report(tasks_done): 
    
    states = " "

    if tasks_done > 10:
        states = "우수"
    elif tasks_done > 5:
        states = '보통'
    else: 
        states = "노력 필요"
    return states, tasks_done

result = work_report(7)

print(f"오늘 처리한 업무는 {result[1]}개입니다.: {result[0]}")

오늘 처리한 업무는 7개입니다.: 보통

## **문제 7: 월급 계산 및 세금 공제**

**"다람쥐는 첫 월급을 계산하고 세금을 공제해야 한다."**

1. `calculate_salary(base_salary, bonus)`라는 함수를 만들어 기본 월급과 보너스를 매개변수로 받으세요.
2. 총 월급을 계산하고, 세금은 총 월급의 10%로 공제하세요.
3. 함수는 다음 두 값을 반환합니다.
    - `net_salary`: 실수령액 (총 월급 - 세금)
    - `tax`: 세금 공제액
4. 반환된 값을 사용해 다음 메시지를 출력하세요.
    - **"세전 월급: [총 월급]원, 세금: [세금]원, 실수령액: [실수령액]원"**

In [ ]:
# 1. calculate 함수 만들거다(입력 2개 받을거다)
# 2. 이거 두개 합쳐서 총 월급
# 3. 세금은 총월급의 10%
# 4. 실수령액은 총월급 - 세금 

# 출력값은 총월급, 세금, 실수령액


#. 함수 호출하기 (입력값 2개  - 기본월급, 보너스) 해서 나온 값 저장


# 출력(중간에 총월급, 세금, 실수령액 3개 f스트링으로 넣으면 될것같아.)

In [9]:
def calculate_salary(base_salary, bonus):
    total_salary = base_salary + bonus
    tax = total_salary * 0.1
    net_salary = total_salary - tax
    return net_salary, tax, total_salary

result = calculate_salary(5_000_000, 2_000_000)
print(result)

print(f"세전 월급{result[0]}원, 세금:{result[2]}원, 실수령액: {result[1]}원")

(6300000.0, 700000.0, 7000000)
세전 월급6300000.0원, 세금:7000000원, 실수령액: 700000.0원

In [ ]:
result = calculate_salary(5_000_000, 2_000_000)