파이썬에서는 정수, 실수 복소수 등 숫자를 표현하는 자료형을 전부 숫자 자료형이라고 표현한다.

In [3]:
num1 = 1
num2 = -1

print(type(num1))
print(type(num2))
print(type(123))

<class 'int'>
<class 'int'>
<class 'int'>

정수 진법별 접두사
2진수(0, 1) : 0b
8진수(0 ~ 7) : 0o
16진수(0 ~ 15) : 0x

a= 100 
print(a)

b = 0O23

In [4]:
num3 = 3.14
num4 = 1.0

print(type(num3))
print(type(num4))

<class 'float'>
<class 'float'>

In [5]:
num5 = 3 + 4j
print(type(num5))

<class 'complex'>

In [6]:
#정수 진법별 접두사
#2진수(0, 1) : 0b
#8진수(0 ~ 7) : 0o
#16진수(0 ~ 15) : 0x

a= 100 
print(a)

b = 0o23
print(b)

c = 0xFF
print(c)

100
19
255

In [ ]:
# 정수의 최대값

import sys
print(sys.maxsize)

9223372036854775807

In [10]:
#지수 표현식
# 4.24E10 => 4.24 * 10*10, 4.24e-10은 4.24 * 10**-10

a = 4.24E10
b = 4.24e-3

print(a)
print(b)
print(type(a))
print(type(b))

42400000000.0
0.00424
<class 'float'>
<class 'float'>

In [11]:
print(complex(1,1)) # 1+1j

(1+1j)

In [12]:
num1 = 10
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

13
7
30
3.3333333333333335

In [ ]:
#실수가 정수를 품는다. (폭이 넓기때문)
num3 = 10
num4 = 0.1
print(num3 + num4)
print(num3 - num4)
print(num3 * num4)
print(num3 / num4)

10.1
9.9
1.0
100.0

In [14]:
num1 = 11
num2 = 7

print(num1 % num2)

4

In [15]:
num1 = 11
num2 = 7

print(num1 // num2)

1

In [16]:
base = 9
exponent = 2
result = base ** exponent

print(result)

81

In [23]:
bool1 = True
bool2 = False



print(type(bool1))
print(type(bool2))

<class 'bool'>
<class 'bool'>

In [ ]:
print(1 == 3) #False
print('ohgiraffers' != 'ohgiraffers') #True
print(100 > 99) # True
print(100 < 99) #False
print(0 >= 1) #False

print(0 <= 1) #True

False
False
True
False
False
True

In [24]:

print('a' > 'A')
print('a' < 'A')

True
False

In [26]:
print(1 != 3 and 100 > 99 and True)
print(1 != 3 and 100 > 99 and 100 < 99)

True
False

In [27]:
print(1 != 3 or 100 > 99 or True)        # True
print(1 != 3 or 100 > 99 or 100 < 99)    # True
print(1 == 3 or False or 100 < 99)       # False

True
True
False

In [28]:
print(not'ohgiraffers' == 'Ohgiraffers')
print(not True)

print('ohgiraffers' != 'Ohgiraffers')

True
False
True

In [29]:
my_name = "zebra"

In [31]:
print("""
세상에서 제일 긴 게 뭘까요?
기차? 기린의 목? 코끼리의 코?
전부 아닙니다.
여러분의 무한한 가능성입니다^^
""")

세상에서 제일 긴 게 뭘까요?
기차? 기린의 목? 코끼리의 코?
전부 아닙니다.
여러분의 무한한 가능성입니다^^

In [ ]:
greeting = "반갑습니"
name = "다람쥐"

print(greeting+name)

print( greeting+"다" + name + "입니다!")

반갑습니다람쥐
반갑습니다다람쥐입니다!

In [37]:
name = "얼룩말"
print(str(900) + "살" + name + "입니다.")

900살얼룩말입니다.

In [ ]:
subject = "python"
print("무슨 일이든 시작 전에 세 번만 외쳐보자. " + ("나는 " + subject + "을 잘할 수 있다! ") * 3)

무슨 일이든 시작 전에 세 번만 외쳐보자. 나는 python을 잘할 수 있다!
 나는 python을 잘할 수 있다!
 나는 python을 잘할 수 있다!

In [40]:
enrole_date = '2024/12/16'
rep_enrole_date = enrole_date.replace("/", "-")

print(rep_enrole_date)

2024-12-16

In [41]:
origin = 'ohgiraffers'
with_white_space = '        oh giraffers'

print(with_white_space.strip())

oh giraffers

In [43]:
print(with_white_space.strip('   o'))

h giraffers

In [44]:
print(origin.strip('os'))

hgiraffer

In [47]:
origin_str = 'hELLO WORLD'
print(origin_str.upper())
print(origin_str.lower())
print(origin_str.capitalize())
print(origin_str.swapcase())
print(origin_str.title())

HELLO WORLD
hello world
Hello world
Hello world
Hello World

In [49]:
x = 10
print("x is %d"  %x)

y = "code"
print("y is %s" %y)

x is 10
y is code

In [ ]:
x, y = 10, "code"

print("x is {0}" .format)
print("x is {0} y is {1}".format(x,y))
print("x is {new_x} and y is {new_y}".format(new_x=x, new_y=y))

<built-in method format of str object at 0x0000021CAD31A030>
x is 10 y is code
x is 10 and y is code

In [56]:
teacher_name = "얼룩말"
print(f"안녕하세요. 오늘부터 여러분과 공부할 {teacher_name} 강사입니다.")

안녕하세요. 오늘부터 여러분과 공부할 얼룩말 강사입니다.

In [58]:
#형 변환
print(True + 3)
print(3 + 5.0)

print(type(True + 3))
print(type(3 + 5.0))

4
8.0
<class 'int'>
<class 'float'>

In [60]:
print(int('3') + 4)

7

In [62]:
print(float('3'))
print(type(float(3)))

3.0
<class 'float'>

In [63]:
print(str(1))
print(str(1.0))
print(str((1, 2, 3)))

1
1.0
(1, 2, 3)

In [64]:
print(list('ohgiraffers'))

['o', 'h', 'g', 'i', 'r', 'a', 'f', 'f', 'e', 'r', 's']

In [65]:
print(list((1, 2, 3, 4, 5)))

[1, 2, 3, 4, 5]

In [67]:

print(list
      (
          {
    "1": "사랑하는 우리반",
    "2": "열심히 공부하십시오",
    "3": "-선생님 왈"
        }
    )
)

['1', '2', '3']

다음 조건에 맞게 변수를 선언하고 연산 결과를 출력하세요.

1. `num1`에 10을 저장하고, `num2`에 5를 저장합니다.
2. 두 변수를 더한 결과를 `sum_result`에 저장하고 출력하세요.

In [69]:
num1 = 10
num2 = 5
sum_result = (num1 + num2)

print(sum_result)

15

다음 조건에 맞게 변수를 선언하고 연산 결과를 출력하세요.

1. `x`에 7.5를 저장하고, `y`에 2를 저장합니다.
2. `x`를 `y`로 나눈 결과를 `result`에 저장하고 출력하세요.

In [72]:
x = 7.5
y = 2
result =(x/y)

print(result)

3.75

다음 조건을 만족하는 프로그램을 작성하세요.

1. `num1`에 15를 저장하고, `num2`에 4를 저장합니다.
2. 두 수의 **나머지**와 **몫**을 각각 구하여 출력하세요.

In [ ]:
num1 = 15
num2 = 4

result1 = (num1%num2)
result2 = (num1//num2)

print(result1,  result2)

3 3

다음 조건에 맞는 변수를 선언하고 결과를 출력하세요.

1. `base`에 숫자 2를 저장하고, `exponent`에 숫자 5를 저장합니다.
2. `base`를 `exponent`만큼 제곱한 결과를 출력하세요.

In [75]:
base = 2
exponent = 5

result = (base**exponent)

print(result)

32

다음 조건에 맞는 프로그램을 작성하세요.

1. `number`라는 변수에 숫자 3을 저장합니다.
2. 이 숫자가 **짝수인지 홀수인지**를 확인하세요.

In [ ]:
number = 3
print(number % 2) # 중요!!!!!!!!!!!!!!!!!!!!

1

다음 조건에 맞게 변수를 선언하고 연산 결과를 출력하세요.

1. `bool1` 변수에 `True`를 저장하고, `bool2` 변수에 `False`를 저장하세요.
2. 두 변수의 type을 확인하세요.

In [78]:
bool1 = True
bool2 = False

print(type(bool1))
print(type(bool2))

<class 'bool'>
<class 'bool'>

다음 조건에 따라 **비교 연산 결과를 출력하는 코드**를 작성하세요.

1. 문자열과 숫자를 이용하여 다양한 비교 연산을 수행해보세요.
2. 각 비교식의 결과를 `print()` 함수를 사용하여 출력하세요.
3. 출력해야 하는 비교식은 다음과 같습니다.
    - `'hello'` 와 `'Hello'` 의 동일 여부
    - `100` 과 `100` 의 서로 다름 여부
    - `10` 과 `9` 의 대소 비교
    - `'a'` 와 `'A'` 의 대소 비교(문자 비교) (아스키 코드)

In [105]:
print('hello' == 'Hello')
print('100' != '100')
print(10 > 9)
print(10 < 9)
print('a' > 'A')
print('a' < 'A')

False
False
True
False
True
False

다음 조건에 맞게 변수를 선언하고, 주어진 논리 조건식의 결과를 출력하세요.

1. `name` 에 문자열 `'카피바라'`를 저장하세요.
2. `age` 에 정수 `20`을 저장하세요.
3. `gender` 에 문자열 `'male'`을 저장하세요.
4. 아래 조건을 각각 검사하여 `print()`로 결과를 출력하세요.
    - 이름이 `'카피바라'`이면 `True`
    - 나이가 **19세 이상이면 성인**으로 판단하고, 성인이면 `True`
    - 성인이면서 남성이면 `True`
    - 이름이 `'호랑이'`이고, 성인이며, **남성**이면 `True`
    - 이름이 `'카피바라'`이거나 성인이면 `True`
    - 이름이 `'카피바라'`가 아니라면 `True` (`not` 사용)

In [108]:
name = '카피바라'
age = 20
gender = "male"

print(name == '카피바라')
print(age >= 19)
print(age >= 19 and gender == 'male')
print(name == '호랑이' and age >= 19 and gender == "male")
print(name == '카피바라' or age >= 19)
print(not name != '카피바라')

True
True
True
False
True
True

아래 조건에 맞게 변수를 선언하고 결과를 출력하세요.

1. `greeting_message` 변수에 문자열 `"Hello"`를 저장합니다.
2. `greeting_target` 변수에 `"World"`를 저장합니다.
3. 두 문자열을 이어 붙여 `"HelloWorld"`를 출력하세요.

In [109]:
greeting_message = "Hello"
greeting_target = 'world'

print(greeting_message + greeting_target)

Helloworld

1. f-string을 사용하여 다음 문장과 같은 형태로 출력하세요.
    1. `age`에 당신의 나이, `city`에 당신의 거주지를 저장합니다.
    - `"나는 25살이고, Seoul에 살고 있습니다."`

In [112]:
age = 25
city = "서울"
print(f"\"나는 {age}살이고, {city}에 살고있습니다.\"")

"나는 25살이고, 서울에 살고있습니다."